Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keras-resnet==0.1.0
numpy==1.15.4
numpydoc==0.8.0
olefile==0.46
opencv-python==3.4.3.18
packaging==18.0
pandas==0.23.4
pandas-datareader==0.7.0
pandocfilters==1.4.2
pickleshare==0.7.5
Pillow==5.2.0
scikit-learn==0.20.0
scipy==1.1.0
tensorboard==1.10.0
tensorflow==1.9.0
